footer {
    position: absolute;
    z-index: 0;
    width: 100%;
    background-color: #9DDE8B;
    padding: 20px;
    text-align: center;
    bottom: -100vh;
}
h1, h2, h3, h4, h5, h6{
    color: #28a745;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: #006769;
}
.navbar {
    background-color: #28a745; /* Yeşil renk */
}

.hero-section {
    background-color: #e9f5e9;
    padding: 60px 0;
}
.hero-section h1 {
    color: #28a745;
}
footer a{
    color: white;

}
footer a:hover{
    color: #006769;
}
.footerparag{
    color:#006769;
}

/* sponsorlarimiz sayfasinda */
.sponsor{
    
}
.logo-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw; /* Kutu genişliği */
    height: 40vh; /* Kutu yüksekliği */

    background-color: #fff;

    box-sizing: border-box;
    gap: 20px;
}
.logo_altinbas {
    display: inline-block;
    width: 400px;
    max-height: 100%;
    object-fit: contain;
    margin:20px;
    padding: 20px;
    border:1px solid #006769;
    border-radius: 20px;
}
.logo_bagcilar{
    display: inline-block;
    width: 120px;
    max-height: 100%;
    object-fit: contain;
    margin:20px;
    padding: 20px;
    border:1px solid #006769;
    border-radius: 20px;
}